<a href="https://colab.research.google.com/github/naokityokoyama/webscraping/blob/main/WebScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Criando WebScraping com BeautifulSoap do site

In [ ]:
from bs4 import BeautifulSoup
import requests
html_doc = requests.get('https://alura-site-scraping.herokuapp.com/index.php')
soup = BeautifulSoup(html_doc.text, 'html.parser')
print(soup.prettify())

In [ ]:
cards = []
card={}

In [ ]:
carro = soup.find('div', class_='well')
carro.find('p',class_='txt-value').get_text() #valor

'R$ 338.000'

In [ ]:
card['Valor'] = carro.find('p',class_='txt-value').get_text()
card

{'Valor': 'R$ 338.000'}

In [ ]:
carro.find('div', class_='body-card') #pegando geral (repare que usamos apenas o find)

<div class="col-md-6 body-card">
<p class="txt-name inline">LAMBORGHINI AVENTADOR</p>
<p class="txt-category badge badge-secondary inline">USADO</p>
<p class="txt-motor">Motor 1.8 16v</p>
<p class="txt-description">Ano 1993 - 55.286 km</p>
<ul class="lst-items">
<li class="txt-items">► 4 X 4</li>
<li class="txt-items">► Câmera de estacionamento</li>
<li class="txt-items">► Controle de tração</li>
<li class="txt-items">► Sensor de estacionamento</li>
<li class="txt-items">...</li>
</ul>
<p class="txt-location">Belo Horizonte - MG</p>
</div>

In [ ]:
carro.find('div', class_='body-card').find_all('p') #agora foi usado findall pois tem varios P

[<p class="txt-name inline">LAMBORGHINI AVENTADOR</p>,
 <p class="txt-category badge badge-secondary inline">USADO</p>,
 <p class="txt-motor">Motor 1.8 16v</p>,
 <p class="txt-description">Ano 1993 - 55.286 km</p>,
 <p class="txt-location">Belo Horizonte - MG</p>]

In [ ]:
ficha = carro.find('div', class_='body-card')
nome = ficha.find('p', class_='txt-name').get_text()
categoria = ficha.find('p', class_='txt-category').get_text()
motor = ficha.find('p', class_='txt-motor').get_text()
descricao = ficha.find('p', class_='txt-description').get_text()
localidade = ficha.find('p', class_='txt-location').get_text()

In [ ]:
card['Valor'] = carro.find('p',class_='txt-value').get_text()
card['Nome'] = nome
card['Categoria'] = categoria
card['Motor'] = motor
card['Descricao'] = descricao
card['Localidade'] = localidade

card

{'Categoria': 'USADO',
 'Descricao': 'Ano 1993 - 55.286 km',
 'Localidade': 'Belo Horizonte - MG',
 'Motor': 'Motor 1.8 16v',
 'Nome': 'LAMBORGHINI AVENTADOR',
 'Valor': 'R$ 338.000'}

In [ ]:
import pandas as pd
dic = {'valor': 1, 'vaivai':'estado', 'comoesta ': 234}
df = pd.DataFrame.from_dict(card, orient='index').T
df

        Valor                   Nome  ...             Descricao           Localidade
0  R$ 338.000  LAMBORGHINI AVENTADOR  ...  Ano 1993 - 55.286 km  Belo Horizonte - MG

[1 rows x 6 columns]

In [ ]:
#importando img

In [ ]:
image = carro.find('div',class_='image-card').img
image

In [ ]:
image.get('src') #nome do link jpg

'https://caelum-online-public.s3.amazonaws.com/1381-scraping/01/img-cars/lamborghini-aventador/lamborghini-aventador-2932196__340.jpg'

In [ ]:
image.get('src').split('/')[-1] #só para demostrar um split deparando em / e o -1 para pegar o ultimo elemento

'lamborghini-aventador-2932196__340.jpg'

In [ ]:
#fazer donwload automatico da imagem 
from urllib.request import urlretrieve

#urlretrieve(image.get('src'), '' + image.get('src').split('/')[-1] ) # as duas maneiras são iguais
urlretrieve(image.get('src'), 'lamborghini-aventador-2932196__340.jpg')

('lamborghini-aventador-2932196__340.jpg',
 <http.client.HTTPMessage at 0x7fd6b56033c8>)

In [ ]:
#todos os cards
soup.find('div', {'id':'container-cards'}) #aqui pegou todo o container

In [ ]:
cards=[]

In [ ]:
todos_cards = soup.find('div', {'id':'container-cards'}).find_all('div', class_='well')
for todo_card in todos_cards:  #o for funciona pois ele usa como se fosse um find
  card = {}
  card['Valor'] = todo_card.find('p',class_='txt-value').get_text()
  card['Nome']= todo_card.find('p', class_='txt-name').get_text()
  card['Categoria'] = todo_card.find('p', class_='txt-category').get_text()
  card['Motor'] = todo_card.find('p', class_='txt-motor').get_text()
  card['Descricao'] = todo_card.find('p', class_='txt-description').get_text()
  card['Localidade'] = todo_card.find('p', class_='txt-location').get_text()
  cards.append(card)
  print (card)

{'Valor': 'R$ 338.000', 'Nome': 'LAMBORGHINI AVENTADOR', 'Categoria': 'USADO', 'Motor': 'Motor 1.8 16v', 'Descricao': 'Ano 1993 - 55.286 km', 'Localidade': 'Belo Horizonte - MG'}
{'Valor': 'R$ 346.000', 'Nome': 'BMW M2', 'Categoria': 'USADO', 'Motor': 'Motor 3.0 32v', 'Descricao': 'Ano 2018 - 83.447 km', 'Localidade': 'Belo Horizonte - MG'}
{'Valor': 'R$ 480.000', 'Nome': 'ALFA', 'Categoria': 'USADO', 'Motor': 'Motor 1.8 16v', 'Descricao': 'Ano 2004 - 19.722 km', 'Localidade': 'Rio de Janeiro - RJ'}
{'Valor': 'R$ 133.000', 'Nome': 'PUECH', 'Categoria': 'USADO', 'Motor': 'Motor Diesel V8', 'Descricao': 'Ano 1992 - 34.335 km', 'Localidade': 'São Paulo - SP'}
{'Valor': 'R$ 175.000', 'Nome': 'LAMBORGHINI MURCIELAGO', 'Categoria': 'USADO', 'Motor': 'Motor 1.0 8v', 'Descricao': 'Ano 1991 - 464 km', 'Localidade': 'Belo Horizonte - MG'}
{'Valor': 'R$ 239.000', 'Nome': 'ASTON MARTIN', 'Categoria': 'USADO', 'Motor': 'Motor Diesel V6', 'Descricao': 'Ano 2004 - 50.189 km', 'Localidade': 'Belo Horizonte - MG'}
{'Valor': 'R$ 115.000', 'Nome': 'TVR', 'Categoria': 'USADO', 'Motor': 'Motor 4.0 Turbo', 'Descricao': 'Ano 2014 - 17.778 km', 'Localidade': 'Belo Horizonte - MG'}
{'Valor': 'R$ 114.000', 'Nome': 'EXCALIBUR', 'Categoria': 'USADO', 'Motor': 'Motor 3.0 32v', 'Descricao': 'Ano 2009 - 81.251 km', 'Localidade': 'Rio de Janeiro - RJ'}
{'Valor': 'R$ 75.000', 'Nome': 'MCLAREN', 'Categoria': 'NOVO', 'Motor': 'Motor Diesel', 'Descricao': 'Ano 2019 - 0 km', 'Localidade': 'São Paulo - SP'}
{'Valor': 'R$ 117.000', 'Nome': 'TOYOTA', 'Categoria': 'USADO', 'Motor': 'Motor 4.0 Turbo', 'Descricao': 'Ano 1999 - 12.536 km', 'Localidade': 'São Paulo - SP'}

In [ ]:
cards #lista de dicionario
import pandas as pd
df = pd.DataFrame(cards)
df

        Valor  ...           Localidade
0  R$ 338.000  ...  Belo Horizonte - MG
1  R$ 346.000  ...  Belo Horizonte - MG
2  R$ 480.000  ...  Rio de Janeiro - RJ
3  R$ 133.000  ...       São Paulo - SP
4  R$ 175.000  ...  Belo Horizonte - MG
5  R$ 239.000  ...  Belo Horizonte - MG
6  R$ 115.000  ...  Belo Horizonte - MG
7  R$ 114.000  ...  Rio de Janeiro - RJ
8   R$ 75.000  ...       São Paulo - SP
9  R$ 117.000  ...       São Paulo - SP

[10 rows x 6 columns]

In [ ]:
#VARIAS PAGINAS

In [ ]:
soup.find('span', class_='info-pages').get_text()

'Página 1 de 25'

In [ ]:
soup.find('span', class_='info-pages').get_text().split()

['Página', '1', 'de', '25']

In [ ]:
soup.find('span', class_='info-pages').get_text().split()[-1] #ou [3]

'25'

In [ ]:
int(soup.find('span', class_='info-pages').get_text().split()[-1]) #passou para int

25

In [ ]:
#tem que fazer pagina por pagina para isso usaremos um for 

#html_doc = requests.get('https://alura-site-scraping.herokuapp.com/index.php?page=2')
#soup = BeautifulSoup(html_doc.text, 'html.parser')

https://alura-site-scraping.herokuapp.com/index.php?page=2

SyntaxError: ignored

In [ ]:
#pegamos o for de 1 card e colocou dentro de outro for

cards = []
pages = int(soup.find('span', class_='info-pages').get_text().split()[-1])
for i in range(pages):
  html_doc = requests.get(f'https://alura-site-scraping.herokuapp.com/index.php?page={i+1}')
  soup = BeautifulSoup(html_doc.text, 'html.parser')
  #print ((f'https://alura-site-scraping.herokuapp.com/index.php?page={i+1}'))

  todos_cards = soup.find('div', {'id':'container-cards'}).find_all('div', class_='well')
  for todo_card in todos_cards:  #o for funciona pois ele usa como se fosse um find
    card = {}
    card['Valor'] = todo_card.find('p',class_='txt-value').get_text()
    card['Nome']= todo_card.find('p', class_='txt-name').get_text()
    card['Categoria'] = todo_card.find('p', class_='txt-category').get_text()
    card['Motor'] = todo_card.find('p', class_='txt-motor').get_text()
    card['Descricao'] = todo_card.find('p', class_='txt-description').get_text()
    card['Localidade'] = todo_card.find('p', class_='txt-location').get_text()
    cards.append(card)

In [ ]:
import pandas as pd
df = pd.DataFrame(cards)
df.head()

        Valor  ...           Localidade
0  R$ 338.000  ...  Belo Horizonte - MG
1  R$ 346.000  ...  Belo Horizonte - MG
2  R$ 480.000  ...  Rio de Janeiro - RJ
3  R$ 133.000  ...       São Paulo - SP
4  R$ 175.000  ...  Belo Horizonte - MG

[5 rows x 6 columns]

# **Coleta catho cientista de dados**
# Coletando dados [link text](https://www.catho.com.br/vagas/cientista-de-dados/?q=Cientista%20de%20Dados)

nome da vaga

descricao 

localidade

In [ ]:
#importando Bibliotecas
import pandas as pd
from bs4 import BeautifulSoup
import requests
html = requests.get('https://www.catho.com.br/vagas/cientista-de-dados/?q=Cientista%20de%20Dados')
soup = BeautifulSoup(html.text, 'html.parser')
#print(soup.prettify())

In [ ]:
#1 pagina

nome_vagas = soup.find_all('h2', class_='Title__Heading-sc-14fvmc0-0 fGTSAd sc-hzDkRC hptbnR')
locais = soup.find_all('button', class_='sc-gisBJw lgWQPJ')
#descricoes = soup.find_all('div', class_='sc-jhAzac exoAGx')

descricoes= soup.find_all('span', class_='job-description')

In [ ]:
lista = []
for vaga, local , descricao in zip(nome_vagas, locais, descricoes):
  dic = {}
  dic['Vagas'] = vaga.find('a').get_text()
  dic['Locais'] = local.find('a').get_text()
  #dic['Descricao'] = descricao.find('span').get_text()
  dic['Descricao'] = descricao.get_text()
  
  lista.append(dic)

In [ ]:
df_catho = pd.DataFrame(lista)

In [ ]:
#Diversas Paginas
lista_catho = []
for i in range(10):
  html = requests.get(f'https://www.catho.com.br/vagas/cientista-de-dados/?q=Cientista%20de%20Dados&page={i+1}')
  soup = BeautifulSoup(html.text, 'html.parser')
  #print (f'https://www.catho.com.br/vagas/cientista-de-dados/?q=Cientista%20de%20Dados&page=2')
  nome_vagas = soup.find_all('h2', class_='Title__Heading-sc-14fvmc0-0 fGTSAd sc-hzDkRC hptbnR')
  locais = soup.find_all('button', class_='sc-gisBJw lgWQPJ')
  descricoes= soup.find_all('span', class_='job-description')
  
  for vaga, local , descricao in zip(nome_vagas, locais, descricoes):
    dic = {}
    dic['Vagas'] = vaga.find('a').get_text()
    dic['Locais'] = local.find('a').get_text()
    dic['Descricao'] = descricao.get_text()

    lista_catho.append(dic)

In [ ]:
import pandas as pd

df_catho = pd.DataFrame(lista_catho)

df_catho

                                 Vagas  ...                                          Descricao
0   Cientista de Dados ( Estatístico )  ...   Atuar em equipe de Soluções para Negócios For...
1            Cientista de Dados Sênior  ...   Desenvolvimento de Abstração do negócio, ETL,...
2                   Cientista de Dados  ...   Análise Preditiva e Descritiva de Big Data pa...
3                   Cientista de Dados  ...   Utilizar a inteligência de dados, Big Data e ...
4                   Cientista de Dados  ...   Linguagens de programação de análise de dados...
..                                 ...  ...                                                ...
95   Analista de Business Intelligence  ...   Atuar com desenvolvimento de modelagem de ban...
96   Analista de Business Intelligence  ...   Análise e Modelagem de Soluções de Business I...
97   Analista de Business Intelligence  ...   Construir fluxos de ETL/ELT para carga de dad...
98   Analista de Business Intelligence  ...   A JUSTA Pagamentos é uma startup criada em ma...
99                         Estatístico  ...   Desenvolvimento e implantação de coleta de da...

[100 rows x 3 columns]